body {
    background-color: #1F2937;
    
}

h1 {
    color: white;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 115px;
}

.randpass {
    color: #4ADF86;
    display: block;
}

.h1footer {
    color:#D5D4D8;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Inter';
    margin-top: 10px;
    margin-bottom: 51px;

}



.passbtn {
   color: white;
    background-color:#10B981;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter';
    border-color: transparent;
    width: fit-content;
    height: 42px;
    margin-bottom: 35px;

}

.passwordblank {
   background-color: #273549;
    min-width: 211px;
    min-height: 39px;
    margin-top: 35px;
    border-radius: 6px;
    width: auto;
   /** margin: 35px 24px 0px 24px;**/
}

.passctn {
    display: flex;
}


.mainctn {
    display: flex;
    flex-direction: column;
    margin-left: 52px;
}

.borderwrapper {
    border-top: 2px solid #2F3E53;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#passblank1 {
    margin-right: 24px;
}